// ml={{base:"0",sm:"0",md:"25vw"}} border="1px solid black" minH={"100vh"} pb='4rem' pt={{base:"3.5rem",sm:"3.5rem",md:"1rem"}}
.profile_container{
    margin-left: 25vw;
    min-height: 100vh;
    padding-bottom: 4rem;
    padding-top: 1rem;
    @media screen and (max-width:768px) {
        padding-top: 3.5rem;
        margin-left: 0;
    }
}

.profile_container_subdiv{
    display: flex;
    border-bottom: 1px solid lightgrey;
    width: 90%;
    margin: auto;
    padding: 1rem;
    justify-content: space-between;
    @media screen and (max-width:768px) {
        width:100%;
    }
}

.container_subdiv_btn{
    width: 60px;
    border-radius: 25%;
    padding: .4rem .1rem;
    color:white;
    background-color: red;
    @media screen and (max-width:768px) {
     width: 40px;   
     font-size: .7rem;
    }
}

.container_subdiv_inputdiv{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.profile_bio_container{
            
    height: max-content;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile_bio_name{
    font-size: 1.2rem;
    font-weight: 500;
    font-style: oblique;
    text-align: left;
    @media screen and (max-width:768px) {
        font-size: 1rem;
    }
}

.profile_bio_bio{
    font-size: 1rem;
    font-weight: 400;
    font-style: oblique;
    text-align: left;
    @media screen and (max-width:768px) {
        font-size: .9rem;
    }
}

.profile_bio_edit{
    border:1px solid black;
    padding: .5rem;
    border-radius: .5rem;
}
.profile_post_container{
display: grid;
grid-template-columns: repeat(3,1fr);
padding: 1rem;
gap:1rem;
@media screen and (max-width:768px) {
    gap:.5rem
}
}

.profile_post_container_box{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &:hover .container_box_subdiv{
        display: block;
    }
    &:hover .container_box_subdiv2{
        display: block;
    }
    @media screen and (max-width:768px) {
        height: 160px;
        padding: .5rem;
    }
}
.container_box_subdiv{
    display: none;
    transition: width .5s ease;
    background-color: white;
    padding:1rem;
    border-radius: 50%;
    width:fit-content;
    @media screen and (max-width:768px) {
        padding:.7rem; 
    }
}


.container_box_subdiv2{
    display: none;
    transition: all .5s ease;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    width:fit-content;

    @media screen and (max-width:768px) {
     padding:.7rem;
     top:.5rem;
     right:.5rem;   
    }
}