.maindiv{
    display: flex;
    max-width:75vw;
    min-height: 100vh;
    margin-left: 25vw;
    padding:0;
    @media screen and (max-width:768px) {
        width: 100vw;
        margin-inline:auto;
    }
}

.postdiv{
    width: 76%;
    @media screen and (max-width:768px) {
        width: 100vw;
    }
}
.chatdiv{
    width: 18vw;
    position: fixed;
    right:0;
    top:0;
    @media screen and (max-width:768px) {
        display: none;
    }
}