.maindiv{
    border:1px solid lightgray;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.postdiv{
    width: 70%;
    border: 1px solid lightgray;
}
.chatdiv{
    width: 30%;
    border: 1px solid red;
}