.maindiv{
    /* border:3px solid brown; */
    display: flex;
    width: calc(100%-30vw);
    min-height: 100vh;
    margin-left: 25vw;
}

.postdiv{
    width: 60%;
    /* border: 2px solid green; */
}
.chatdiv{
    width: 40%;
    border: 1px solid red;
}