.maindiv{
    border:1px solid black;
    display: flex;
    min-height: 100vh;
    margin-left: 300px;
}

.postdiv{
    width: 70%;
    border: 1px solid lightgray;
}
.chatdiv{
    width: 30%;
    border: 1px solid red;
}