.tabpanels{
/* margin-top: 1rem; */
background: rgba(32, 32, 32, 0.21);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(32, 32, 32, 0.49);
}